div.favorite-slider-brand {
  border: 1px solid #e2e2e2;
  border-radius:20px;
  margin: 20px auto;
  width: 94%;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  cursor: pointer;
  .favorite-text {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    gap: 10px;
    svg {
      width: 50px;
      height: 25px;
      fill: gold;
    }
    h4 {
      font-family: IranYekan;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 2.1;
    }
  }

  .favorite-slider {
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    div.aaaa {
      width: 110px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-left: 1px solid #e2e2e2 ;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}

.swiper {
  width: 100%;
  height: 100%;
}

