header {
  width: 100%;
  height: var(--mainheaderheight);
  box-shadow: 0px 2px 1px lightgray;
  
  .banner {
    height: calc(var(--mainheaderheight) - 110px);
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .middle {
    width: 100%;
    height: calc(var(--mainheaderheight) - 100px);
    display: flex;
    padding: 0px 10px;
    box-sizing: border-box;
    

    .right {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      
      .icon {
        width: 20%;
        height: 100%;
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
          right: 10px;
        }
      }
      .search {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 15px;
        box-sizing: border-box;
        svg{
          width: 24px;
           height: 24px; 
           fill: #a1a3a8;
           background-color: #F0F0F1;
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 8px;
           border-start-start-radius: 5px;
           border-top-right-radius: 5px;
           
           
           
        }

        input {
          width: 73%;
          height: 41px;
          border-radius: 5px;
          border: unset;
          background-color: #f0f0f1;
          padding: 0 9px;
          box-sizing: border-box;
          margin-left: 14px;
          &:focus {
            background-color: #ffffff;
            outline: unset;
            box-shadow: 1px 1px 2px lightgray;
          }
          &::placeholder {
            font-family: IranYekan;
          }
        }
      }
    }
    .left {
      width: 30%;
      height: 100%;
      display: flex;
      
      }
      img{
        width: 24px; 
        height: 32px;
         font-weight: normal;
         padding-left: 10px;      
          color: #424750;}
      
      .loginn {
        width: 86%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
       font-size: 12px;
       font-weight: bold;
    
        a {
          padding: 8px;
          box-sizing: border-box;
          text-decoration: none;
          font-family: IranYekan;
          color: #000000;
          font-weight: 800;
          border: 0.3px solid lightgray;
          border-radius: 7px;

          svg {
            width: 24px;
            height: 24px;
            vertical-align: top;
            margin-left: 10px;
            fill:#4c5058 ;
            
          }
        }
      }
    
      .cart {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        a {
          width: 100%;
          svg {
          width: 24px;
          height: 24px;
          fill:#424750;
          margin-right: 20px;
          border-right: 1px solid rgb(90, 89, 89);
          padding-right: 20px;
        }
      }
    }
  }
  }

.bottom {
  width: 100%;
  height: calc(var(--mainheaderheight) - 130px);


  nav {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: IranYekan;
    font-size: 7px;
    font-weight: lighter;
    cursor: pointer;
   

    .menu {
      width: 70%;
      height: 100%;
      display: flex;
      flex-flow: row;
      white-space: nowrap;
     

       >ul {
        width: 100%;
        height: 100%;
        padding-right: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        > li {
          width: fit-content;
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: start;
          margin-left: 30px;
          position: relative;
          border-bottom: 2px solid transparent;
          &:hover {
            .submenu {
              display: flex;
            }
          }

          &:hover {
            border-bottom: 2px solid crimson;
          }
          > a {
            text-decoration: none;
            color: rgb(94, 92, 92);
            font-size: 12px;

            &.mainli {
              color: black;
              font-size: 15.2px;
              border-left: 1px solid #808080;
              padding-left: 30px;
              box-sizing: border-box;
            }
            &.borderright {
              border-right: 1px solid #808080;
              padding-right: 20px;
              box-sizing: border-box;
            }
          }

          .submenu {
            width: 80vw;
            height: 60vh;
            border-radius: 10px;
            box-shadow: 0px 0px 10 lightgray;
            position: absolute;
            top: 110%;
            right: 0;
            z-index: 10;
            display: none;
            

            .sub2menu {
              width: 20%;
              height: 100%;
              background-color: #f5f5f5;
              overflow-y: scroll;
              direction: ltr;
              line-height: 40px;
              padding-right: 4px;
              
              > ul {
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-flow: column nowrap;
                justify-content: start;
                align-items: center;

                > li {
                  width: 100%;
                  height: 100%;
                  justify-content: end;
                  padding-right: 20px;
                  box-sizing: border-box;
                  transition: 400ms;
                  position: unset;
                  svg{
                    width: 18px; 
                    height: 18px;
                     fill: #424750;}
    



                  &:hover {
                    background-color: white;
                  }
                  > a {
                    font-family: IranYekan;
                    color: rgb(74, 73, 73);
                    font-size: 11.5px;
                    &:hover {
                      color: crimson;
                    }
                  }

                  &:hover {
                    .sub3menu {
                      display: flex;
                    }
                  }
                }

                .sub3menu {
                  width: 80%;
                  height: 100%;
                  background-color: #ffffff;
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: none;
                  overflow-y: scroll;
                  border-bottom-left-radius: 20px;
                  

                  &.active {
                    display: block !important;
                  }

                  .sub3menu-child {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    border-bottom-left-radius: 15px;
                   

                    > h5 {
                      width: 100%;
                      height: 10%;
                      color: deepskyblue;
                      font-family: IranYekan;
                      font-size: 12px;
                      padding-right: 15px;
                      box-sizing: border-box;
                      cursor: pointer;
                    }
                    .list-sub3menu {
                      width: 100%;
                      height: 90%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      flex-flow: row nowrap;
                      line-height: 40px;
                      direction: rtl;
                      padding-right: 20px;
                      box-sizing: border-box;
                      color: rgb(197, 33, 33);

                      .ul-li-list-sub3menu {
                        width: 25%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-flow: column nowrap;

                        > ul {
                          width: 100%;
                          height: 100%;
                          text-decoration: none;
                          list-style: none;
                          > li {
                            width: 100%;
                            color: lightgray;
                            font-size: 13px;
                            font-size: IranYekan;
                            > a {
                              width: 100%;
                              height: 100%;
                              color: #696969;
                              &:hover {
                                color: crimson;
                              }
                              &.title {
                                font-size: 13px;
                                font-weight: 800;
                                color: black;
                                border-right: 2px solid crimson;
                                padding: 2px;
                                box-sizing: border-box;
                                &:hover {
                                  color: crimson;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    .city {
      width: 30%;
      height: 100%;
      display: flex;

      .lablecity {
        height: 100%;
        color: #f57f17;
        background-color: #fef6ef;
        border-radius: 40px;
        font-size: 13px;
        font-family: IranYekan;
        font-weight: 700;
        padding: 10px;
        box-sizing: border-box;
        cursor: pointer;
        margin-right: 250px;
        text-align: center;
        margin-top: -3px;
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        svg{
          width: 20px;
           height: 20px;
            fill:#f57f17
        }
      }
    }
  }
}

.modal {
  width: 30vw;
  height: 75vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px lightgray;
  position: absolute;
  z-index: 10;
  left: calc(50% - 30vw / 2);
  top: calc(50% - 70vh / 2);
  display: none;

  > .lable-cross {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--boxcolor);
    >.close {
      width: 5%;
      height: fit-content;
      font-size: 40px;
      color: rgb(54, 54, 54);
      padding: 10px;
      box-sizing: border-box;
      direction: ltr;
      display: block;
    }
      >h4{
        width: 20%;
        height: fit-content;
        font-family: IranYekan;
        font-size: 15px;
        color: #000000;

      }
    
  }

  .modal-child {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;

    .modal-child-1 {
      width: 100%;
      height: 80px;
      font-family: IranYekan;
      font-size: 14px;
      color: lightgray;
      

      > input {
        width: 92%;
        height: 43px;
        margin-top: 20px;
        border-radius: 5px;
        border: none;
        background-color: #ececec;
        padding-right: 20px;
        box-sizing: border-box;
        font-family: iranYekan;
        font-size: 12px;
       
        
        color: #A1ABC2;}
       
  
    }
    .modal-child-2 {
      width: 100%;
      height: 50px;
      p {
        width: 100%;
        height: 100%;
        font-family: IranYekan;
        font-size: 14px;
        line-height: 180%;
        
        color: rgb(62, 62, 62);
      }
    }
    .modal-child-3 {
      width: 100%;
      height: 50px;
      >h1 {
        width: 100%;
        height: 100%;
        font-family: IranYekan;
        font-size: 17px;
        color: #4a4a6d;
      }
    }
    .modal-child-4 {
      width: 100%;
      height: 200px;
      font-family: Iranyekan;
      color: #4a4a6d;
      

      .swiper {
        width: 100%;
        height: 100%;
  
      }

      .swiper-slide {
        align-items: center;
        width: 55px;
        display: flex;
        direction: rtl;
        font-size: 13px;
        background: #fff;   
        border-radius: 30px;
        margin-right: 8px;
        border: 1px solid var(--boxcolor);
        svg{
          width: 20px;
           height: 20px;
            fill: #424750;
            display: inline-block;
            vertical-align: middle;  
            margin-left: 5px;
        span{
          font-family: IranYekan;
          font-size: 10px;
          display: inline-block;
          vertical-align: middle;
        }
            
        }
     
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 38px;
        height: 38px;
        background-color: white;
        color: lightslategray;
        border-radius: 50%;
        position: absolute;
      
        &::after{
        font-size:17px;
        font-weight: bold;
      
      
        }
      }
      .swiper-button-disabled{

        display: none;
      }
      }
    

    .modal-child-5 {
      width: 100%;
      height: 1000px;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-flow: column nowrap;
      gap: 1px;
      padding: 10px;
      box-sizing: border-box;
      overflow: auto;
      svg{
      width: 20px;
      height: 20px;
       fill: #424750;}
      > ul {
        width: 100%;
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        border-bottom: 1px solid var(--boxcolor);
        list-style: none;
        padding: 25px 0px;
        box-sizing: border-box;
        > li {
          font-family: IranYekan;
          font-size: 14px;
          color: black;
          span {
            color: #A4A7AB;
          
            font-size: small;
            font-weight: lighter;
           
            }
          }
        }
      }
    }
  }

input#show,
input#close {
  display: none;
}

input#show {
  &:checked ~ .modal {
    display: block;
  }
}
input#close {
  &:checked ~ .modal {
    display: none;
  }
}

.icon-per {
  border-radius: 50%;
  border: 1px solid rgb(112, 112, 112);
  padding: 2px;
  color: rgb(112, 112, 112);
  box-sizing: border-box;
  font-size: 10px;
}
