*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: IranYekan;
    src: url(../Font/IRANYekanWeb-Bold.eot);
    src: url(../Font/IRANYekanWeb-Bold.ttf);
    src: url(../Font/IRANYekanWeb-Bold.woff);
    src: url(../Font/IRANYekanWeb-Bold.woff2);

}


div.digikala{
    width: 100%;
}

:root{
    --mainheaderheight: 170px;
    --textcolor:#fff;
    --boxcolor:#e2e2e2;
    --color-neutral: #4f5076;
    --discount-icon:#ef4056;
    --shadow-color: #858586;
    --padding: 0px 30px;
    --padding-top: 20px;
    --color-top: #ef4056;

}