div.under-main-slider{
    width: 94%;
    height: 150px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-flow: row nowrap;
    padding: 10px;
    box-sizing: border-box;
    .under-main-slider-child{
        width: calc(100% / 10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        a{
            width: 80%;
            height: 80%;
            padding: 20px;
            box-sizing: border-box;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
    
            }
         
        }
       
        p{
            width: 80%;
            height: 20%;
            font-family: IranYekan;
            font-size: 10px;
            color: #585E73;
            text-align: center;
        }

    }

}